<!doctype html>
<html>

<head>
    <title> <%= title %> </title>

    <% include ./layout/header %>

</head>

<body>
    <div id="wrapper">
        <div class="Khung"></div>

        <div id="header">
            <nav class="navbar navbar-fixed-top navbar-inverse">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand"><img src="/static/images/images.png"
                                style="width:120px; height: 40px;">
                        </a>

                    </div>
                    <div class="navbar-collapse collpase" id="main-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/" class="hvr-underline-form-center">Trang Chủ</a>
                            </li>
                            <li>
                                <a href="#" data-toggle="dropdown">Danh Sách Phim<span class="caret"></span></a>
                            </li>

                            <li>
                                <a href="/cinox/cinox">Rạp Chiếu Phim</a>
                            </li>
                            <li>
                                <a href="#">Liên Hệ</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <div class="search-container">
                                    <form action="/search-movies" method="POST">
                                        <input type="text" placeholder="Search.." name="search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </li>
                            <% if(data) { %>
                            <% if(dataAdmin) {%>

                            <li>
                                <a href="/user/upfilm" class="navbar-btn navbar-right btn_dn"> Quản lý Phim </a>
                            </li>

                            <% } %>

                            <li>
                                <a href="/edit" class="navbar-btn navbar-right btn_dn"> <%= data.name %> </a>
                            </li>

                            <% } else { %>

                            <li>
                                <a href="/login" class="navbar-btn navbar-right btn_dn"> Đăng Nhập </a>
                            </li>

                            <% } %>

                            <% if(data) { %>
                            <li>
                                <a href="/exit" class="navbar-btn navbar-right btn_dn"> Đăng Xuất </a>
                            </li>

                            <% } else { %>
                            <li>
                                <a href="/user/signup" class="navbar-btn navbar-right btn_dn"> Đăng ký </a>
                            </li>
                            <% } %>


                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="cinox">

        </div>
        <div class="col-main">
            <div class="booking-progress">
                <div class="page-title">
                    <center>
                        <p style="color: white">CỤM RẠP</p>
                    </center>
                </div>
                <div class="cinema-area">
                    <div class="uk">
                        <% item.rows.forEach(function(i){ %>
                        <div class="ukli">
                            <span class="tablinks <%if(i.id==1){ %> active <% } %>">
                                <%=i.ten%>
                            </span>
                        </div>
                        <%})%>
                    </div>
                </div>
                <div id="kc"></div>
                <div class="container-top"></div>
                <div class="cinema-area">

                    <% item.rows.forEach(function(i){ %>

                    <div id="<%=i.ten%>" class="tabcontent">
                        <div class="uk">
                            <% rap.rows.forEach(function(a){%>
                            <% if(a.id_cum_rap==i.id) {%>
                            <div class="ukli">
                                <form action="/cinox/cinox" method="POST">
                                    <div class="cinemax">
                                        <input name="id_rap" type="hidden" value="<%=a.id%>">
                                        <input name="id_cum_rap" type="hidden" value="<%=a.id_cum_rap%>">
                                        <button type="submit" class="" style="border: none"><%=a.ten%></button>
                                    </div>
                                </form>
                            </div>
                            <%}%>
                        <%})%>
                        </div>
                    </div>
                    <%})%>
                </div>



            </div>
        </div>



        <% if(phim) { %>
        <div id="full-movies">
            <div class="theater-container">
                <div class="heater-head">
                    <div class="home-title">
                    </div>

                    <% phim.rows.forEach(function(a){%>
                    <div class="header-left">
                        <figure class="images-PhimNow">
                            <img src="/static/images/<%=a.poster%>" />

                        </figure>
                    </div>
                    <div class="header-right">
                        <h3><%= a.ten%></h3>
                        <h4>Loại rạp <%=a.loai_rap%></h4>
                        <div class="uk-2">
                            <% sc.rows.forEach(function(c){%>
                            <%if(c.id == a.id){%>
                            <div class="ukli-2">
                                <form action="/cinox/book" method="POST">
                                    <input name="id_rap" type="hidden" value="<%=c.id_rap%>">
                                    <input name="id_sc" type="hidden" value="<%=c.id_sc%>">
                                    <button class="border-sc" type="submit">
                                        <h6><%=c.tg_batdau%>
                                            <h6>Số ghế: <% var doc=c.kt_doc;var ngang=c.kt_ngang;var tich=doc*ngang%>
                                                <%=tich %>
                                            </h6>
                                    </button>
                                </form>
                            </div>
                            <%}%>
                        <%})%>
                        </div>
                    </div>
                    <div class="clear-both"></div>
                    <hr width="50%" size="20px" align="center" color="black" />
                    <%})%>

                </div>
            </div>

        </div>

        <% } else { %>

        <%}%>
    <% include ./layout/footer %>
        <script type="text/javascript">
            var buttons = document.getElementsByClassName('tablinks');
            var contents = document.getElementsByClassName('tabcontent');
            function showContent(id) {
                for (var i = 0; i < contents.length; i++) {
                    contents[i].style.display = 'none';
                }
                var content = document.getElementById(id);
                content.style.display = 'block';
            }
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].addEventListener("click", function () {
                    var id = this.innerText;
                    var content = document.getElementById("full-movies");
                    if (content) {
                        content.style.display = 'none';
                    }

                    for (var i = 0; i < buttons.length; i++) {
                        buttons[i].classList.remove("active");
                    }
                    this.className += " active";
                    showContent(id);
                });
            }
            showContent('nghia');
        </script>
        <% include ./layout/footer %>

</body>

</html>